<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>关于我们</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../../static/js/move-top.js"></script>
    <script type="text/javascript" src="../../static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../../static/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../../static/js/menu_jquery.js"></script>
    <script src="../../static/js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- header -->

    <!-- //header -->
    <!-- top-header -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="introduction.html">机构简介</a></li>|
                        <li><a href="laws.html">相关法规</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link"><a href="#">鉴定申请</a></li>|
                        <li class="top_link"><a href="#">个人中心</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- top-header -->
    <!-- logo-cart -->
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html">火灾物证鉴定系统</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //logo-cart -->
    <!------>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                    <li class="grid"><a class="color1" href="introduction.html"机构简介></a>

		   </li>
		   <li><a class="color1 " href="process.html ">鉴定流程</a>

		   </li>				
		   <li><a class="color1 " href="laws.html ">相关法规</a>

		   </li>
		   <li><a class="color1 " href="form.html ">鉴定申请</a>

    </li>
    </ul>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="查询内容">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!---->
    <div class="contact-bottom">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21410.76500656582!2d108.82252676624067!3d34.13075173543996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z5Lit5Zu96ZmV6KW_55yB6KW_5a6J5biC6ZW_5a6J5Yy66KW_5a6J55S15a2Q56eR5oqA5aSn5a2m!5e1!3m2!1szh-CN!2s!4v1598947085590!5m2!1szh-CN!2s"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="alert alert-primary">
        <div class="container">
            <div class="col-md-3 alert-info">
                <h6>联系电话</h6>
                <p>-----------</p>
            </div>
            <div class="col-md-3 alert-success">
                <h6>地址</h6>
                <p>----------------</p>
            </div>
            <div class="col-md-3 alert-info">
                <h6>邮政编码</h6>
                <p>710071</p>
            </div>
            <div class="col-md-3 alert-success">
                <h6>邮箱</h6>
                <p>example@example.com</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- reg-form -->

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h6>关于我们</h6>
                <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>信息</h6>
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li><a href="#">条款&条件</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>我的帐户</h6>
                <ul>
                    <li><a href="login.html">我的帐号</a></li>
                    <li><a href="#">鉴定历史</a></li>
                    <li><a href="#">待办事项</a></li>
                    <li><a href="#">最新消息</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>其它</h6>
                <ul>
                    <li><a href="friendly.html">友情链接</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-copy">
        <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
    </div>
    <!-- <div class="footer-copy ">
-- //footer -->
</body>

</html>