<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>我的鉴定</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../../static/js/move-top.js"></script>
    <script type="text/javascript" src="../../static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../../static/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../static/js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../../static/js/menu_jquery.js"></script>
    <script src="../../static/js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="../../static/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function() {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- //the jScrollPane script -->
</head>

<body>
    <!-- top-header -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="introduction.html">机构简介</a></li>|
                        <li><a href="laws.html">相关法规</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link">
                            <a href="form.html"></a>鉴定申请</a>
                        </li>|
                        <li class="top_link"><a href="myspace.html">修改个人资料</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- top-header -->
    <!-- logo-cart -->
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html">火灾物证鉴定系统</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //logo-cart -->
    <!------>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                    <li class="grid"><a class="color1" href="introduction.html">机构简介</a>
		   </li>
		   <li><a class="color1 " href="process.html ">鉴定流程</a>
		   </li>				
		   <li><a class="color1 " href="laws.html ">相关法规</a>
		   </li>
		   <li><a class="color1 " href="form.html ">鉴定申请</a>
    </li>

    </ul>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="查询历史鉴定">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!---->
    <!-- products -->
    <div class="products">
        <div class="container">
            <div class="products-grids">
                <div class="col-md-8 products-grid-left">
                    <div class="products-grid-lft">
                        <div class="products-grd">
                            <div class="p-one simpleCart_shelfItem prd">
                                <a href="single.html">
                                    <img src="images/11.jpg" alt="申请表预览图" class="img-responsive" />
                                    <div class="mask">
                                        <span>Quick View</span>
                                    </div>
                                </a>
                                <h4>-鉴定名称</h4>
                                <p><a class="item_add" href="#"><i></i> <span class=" item_price valsa">申请日期</span></a></p>
                                <div class="pro-grd">
                                    <a href="single.html">鉴定状态</a>
                                </div>
                            </div>
                        </div>
                        <div class="products-grd">
                            <div class="p-one simpleCart_shelfItem prd">
                                <a href="single.html">
                                    <img src="images/10.jpg" alt="申请表预览图" class="img-responsive" />
                                    <div class="mask">
                                        <span>Quick View</span>
                                    </div>
                                </a>
                                <h4>-鉴定名称</h4>
                                <p><a class="item_add" href="#"><i></i> <span class=" item_price valsa">申请日期</span></a></p>
                                <div class="pro-grd">
                                    <a href="single.html">鉴定状态</a>
                                </div>
                            </div>
                        </div>
                        <div class="products-grd">
                            <div class="p-one simpleCart_shelfItem prd">
                                <a href="single.html">
                                    <img src="images/9.jpg" alt="申请表预览图" class="img-responsive" />
                                    <div class="mask">
                                        <span>Quick View</span>
                                    </div>
                                </a>
                                <h4>-鉴定名称</h4>
                                <p><a class="item_add" href="#"><i></i> <span class=" item_price valsa">申请日期</span></a></p>
                                <div class="pro-grd">
                                    <a href="single.html">鉴定状态</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="products-grid-lft">
                        <div class="products-grd">
                            <div class="p-one simpleCart_shelfItem prd">
                                <a href="single.html">
                                    <img src="images/1.jpg" alt="申请表预览图" class="img-responsive" />
                                    <div class="mask">
                                        <span>Quick View</span>
                                    </div>
                                </a>
                                <h4>-鉴定名称</h4>
                                <p><a class="item_add" href="#"><i></i> <span class=" item_price valsa">申请日期</span></a></p>
                                <div class="pro-grd">
                                    <a href="single.html">鉴定阶段</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-4 products-grid-right">
                    <div class="w_sidebar">
                        <section class="sky-form">
                            <h4>鉴定状态</h4>
                            <div class="row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>收到物证</label>
                                </div>
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>检查分析</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>收到报告</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>邮寄报告</label>
                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>付款状态</h4>
                            <div class="row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>已付款</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>待付款</label>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //products -->
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h6>关于我们</h6>
                    <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <h6>信息</h6>
                    <ul>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="#">隐私政策</a></li>
                        <li><a href="#">条款&条件</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h6>我的帐户</h6>
                    <ul>
                        <li><a href="login.html">我的帐号</a></li>
                        <li><a href="#">鉴定历史</a></li>
                        <li><a href="#">待办事项</a></li>
                        <li><a href="#">最新消息</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h6>其它</h6>
                    <ul>
                        <li><a href="#">附属机构</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-copy">
            <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
        </div>
        <!-- <div class="footer-copy ">
<-- //footer -->
    </div>
</body>

</html>