<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.exercise29.repository.DepartmentRepository">

    <insert id="insert" parameterType="com.huadi.exercise29.entity.Department">
        INSERT INTO department (id,name,comment,leader,phone,time)
            VALUES (#{id},#{name},#{comment},#{leader},#{phone},#{time})
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM department WHERE id = #{id}
    </delete>

    <select id="selectAll" parameterType="int" resultType="com.huadi.exercise29.entity.Department">
        SELECT * FROM department
    </select>

</mapper>