<!DOCTYPE html>
<html>

<head>
    <title>机构简介</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../js/menu_jquery.js"></script>
    <script src="../js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Custom Styles */
        
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }
        
        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }
        
        ul.nav-tabs li:first-child {
            border-top: none;
        }
        
        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }
        
        ul.nav-tabs li.active a,
        ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #0088cc;
            border: 1px solid #0088cc;
        }
        
        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }
        
        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }
        
        ul.nav-tabs.affix {
            top: 30px;
            /* Set the top position of pinned element */
        }
    </style>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <!-- header -->

    <!-- //header -->
    <!-- top-header -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="introduction.html">机构简介</a></li>|
                        <li><a href="laws.html">相关法规</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link"><a href="form.html">鉴定申请</a></li>|
                        <li class="top_link"><a href="myspace.html">个人中心</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- top-header -->
    <!-- logo-cart -->
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html">火灾物证鉴定系统</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //logo-cart -->
    <!------>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                    <li class="grid"><a class="color1" href="introduction.html" ">机构简介</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="process.html ">鉴定流程</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>				
		   <li><a class="color1 " href="laws.html ">相关法规</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="form.html ">鉴定申请</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>申请类型</h4>
							   <ul>
								   <li><a href="form1.html "">Slave Bracelets</a>
                    </li>
                    <li><a href="products.html">Rings</a></li>
                    <li><a href="products.html">Necklaces</a></li>
                    <li><a href="products.html">Chokers</a></li>
                    <li><a href="products.html">Cuff Links</a></li>
                    <li><a href="products.html">Bangles</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Style Zone</h4>
                <ul>
                    <li><a href="products.html">Men</a></li>
                    <li><a href="products.html">Women</a></li>
                    <li><a href="products.html">Brands</a></li>
                    <li><a href="products.html">Kids</a></li>
                    <li><a href="products.html">Accessories</a></li>
                    <li><a href="products.html">Style Videos</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>All Jewellery</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Seating</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col2"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
    </div>
    </div> -->
    </li>
    <!-- <li><a  class="color1" href="#">collections</a>
			   <div class="megapanel">
				   <div class="row">
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html">Slave Bracelets</a></li>
								   <li><a href="products.html">Rings</a></li>
								   <li><a href="products.html">Necklaces</a></li>
								   <li><a href="products.html">Chokers</a></li>
								   <li><a href="products.html">Cuff Links</a></li>									
								   <li><a href="products.html">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html">Men</a></li>
								   <li><a href="products.html">Women</a></li>
								   <li><a href="products.html">Brands</a></li>
								   <li><a href="products.html">Kids</a></li>
								   <li><a href="products.html">Accessories</a></li>
								   <li><a href="products.html">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row">
					   <div class="col2"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
				   </div>
			   </div>
		   </li>								 -->
    </ul>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="查询内容">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!---->
    <!-- reg-form -->
    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#section-1">基本情况</a></li>
                    <li><a href="#section-2">在研课题项目</a></li>
                    <li><a href="#section-3">现场调查</a></li>
                    <li><a href="#section-4">物证鉴定</a></li>
                    <li><a href="#section-5">标准修订</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h2 id="section-1">基本情况</h2>
                <blockquote>
                    <h4><strong>鉴定中心成立时公安部消防局规定本鉴定中心可以开展的具体工作包括：</strong></h4>
                    <p>
                        ①对火灾现场遗留物进行技术鉴定；
                    </p>
                    <p>②对化学危险品热稳定性，物质自燃，化学物品结构变化引起的火灾危险性，物质的燃点、闪点、放热速率、起始温度等与火灾原因有关的火灾危险性参数进行测定；</p>
                    <p>③接收公安消防机构委托参与火场勘查工作；</p>
                    <p>④研制和推广火场勘查仪器及器材；</p>
                    <p>⑤开展火场勘查技术的研究；</p>
                    <p>⑥开展火灾物证技术鉴定方法及设备的研究；</p>
                    <p>⑦开展有关火灾原因模拟试验；</p>
                    <p>⑧制修订火场勘查、技术 鉴定方法国家标准或行业标准；</p>
                    <p>⑨负责对地方同类鉴定机构的业务指导和人员培训；</p>
                </blockquote>
                <blockquote>
                    <p>
                        鉴定中心现有仪器设备包括紫外分光光度计、红外分光光度计、毛细管气相色谱、高效液相色谱、气相色谱－质谱、多级离子阱质谱、液相色谱-质谱、差示扫描量热仪、差热－热失重连用仪、顶空色谱装置、金相显微镜、视频显微镜、扫描电镜、能谱仪、直读光谱仪等多部处于国际领先水平的分析仪器。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-2">在研课题项目</h2>
                <blockquote>
                    <h4><strong>研究的项目涉及到国家科技支撑计划项目、公安部部级项目、公安部消防局局级项目，主要包括：</strong></h4>
                    <p>
                        “十一五”国家科技支撑计划项目“火灾原因识别关键技术的研究”、“典型建筑构件热烟气沉积和侵蚀痕迹多维数值模拟研究”、“典型引火源引燃特征规律的研究”；部级项目：“典型引火源引燃特征及典型特征痕迹数据库”、“气体火灾物证及其燃烧附着物鉴定方法的研究”、“色谱/质谱法在火灾原因鉴定中的应用”、“汽车火灾勘查及鉴定技术的研究”、“放火现场中油漆稀释剂鉴定方法的研究”、“重特大火灾及致灾成因技术调查机制研究”；局级项目：“含有易燃液体的火灾烟气沉积物提取方法的研究”、“火灾现场勘查个人防护装备的技术性能及配备要求研究”、“建筑墙面典型火灾痕迹形成规律的研究”、“易燃液体放火物标准图谱研究及计算机标准图谱数据库系统”、“易燃液体残留物现场提取技术的研究”、“易燃液体放火物样品实验室提取方法的研究”、“多级离子阱质谱扫描技术应用于火灾物证鉴定方法的研究”、“电动汽车火灾现场勘查及鉴定技术研究”等。
                    </p>
                    <p>
                        <strong>其中的“十一五”国家科技支撑计划项目“火灾原因识别关键技术的研究”是我国第一个国家级的火灾调查方面的科研项目。</strong>该项目以典型热蚀痕迹和典型引火源特性为研究目标，深入研究了火灾痕迹与火源特性的关系，建立了典型热蚀痕迹特征数据库，提出了易燃液体燃烧烟气沉积规律，建立了以焊割火花、电热器具、烟头为代表的典型引火源的热特性和对常见可燃材料的引燃特性数据库。另外，在项目研究过程中还取得了“典型引火源引燃特性系统软件1.0”、“典型建筑构件热蚀痕迹系统软件V1.0”和“火灾物证标准谱库检索系统V1.0”三项软件著作权。</p>
                </blockquote>
                <hr>
                <h2 id="section-3">现场调查</h2>
                <blockquote>
                    <p>
                        受各地公安机关和消防机构的邀请，本中心共计协助各地调查200多起重特大和疑难火灾，主要包括：大连“5.7”空难、辽宁旅顺海军基地某潜水艇事故等。在这些火灾的调查工作中，物证中心全体同志出色地完成了任务，为查明火灾原因提供了重要的技术支撑，得到了各地政府和有关单位的高度评价。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-4">物证鉴定</h2>
                <blockquote>
                    <p>
                        物证鉴定中心的全体技术人员，紧跟国际前沿技术，努力钻研物证鉴定知识，不断研究建立鉴定方法，使得我国物证鉴定技术有了很大的提高，极大地提升了物证鉴定的准确性和可靠性，保证了一线火调人员认定火灾原因的科学性和准确性。近年来共鉴定了5000多起火灾，为各地公安机关和消防机构准确认定火灾性质、明确调查方向提供了重要的技术依据，并多次受到各地公安机关和消防机构的好评。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-5">标准修订</h2>
                <blockquote>
                    <p>
                        在标准制修订方面，近年来共制订了十余项标准，为物证提取与鉴定技术建立了技术依据，主要包括：火灾技术鉴定方法系列标准和火场易燃液体残留物实验室提取方法系列标准等，以及火灾现场物证提取技术、消防监督技术装备配备标准、火灾原因调查技术指南、消防术语第4部分火灾调查术语等。这些标准不但涉及火灾物证实验室鉴定技术，也涉及现场勘查和物证提取技术，基本涵盖了火灾调查的所有工作范围。
                        <strong>火灾调查和物证鉴定标准的制定和发布实施，为我国火调工作提供了技术性和规范性文件，提升了我国火灾调查工作的技术水平，也使得现场勘查、物证提取和物证鉴定工作更加系统化、规范化。</strong>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        <table class="table">
                            <h4><strong>目前鉴定中心制修订的标准具体如下：</strong></h4>
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>标准编号</th>
                                    <th>名称</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>GB/T 24572.1-2009</td>
                                    <td>火灾现场易燃液体残留物实验室提取方法 第1部分：溶剂提取法</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>GB/T 24572.2-2009</td>
                                    <td>火灾现场易燃液体残留物实验室提取方法 第2部分：直接顶空进样法</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>GB/T 24572.3-2009</td>
                                    <td>火灾现场易燃液体残留物实验室提取方法 第3部分：活性炭吸附法</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>GB/T 24572.4-2009</td>
                                    <td>火灾现场易燃液体残留物实验室提取方法 第4部分：固相微萃取法</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>报批阶段</td>
                                    <td>火灾现场易燃液体残留物实验室提取方法 第5部分：吹扫捕集法</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>GB/T 18294.1-2001</td>
                                    <td>火灾技术鉴定方法 第1部分：紫外光谱法</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>GB/T 18294.2-2010</td>
                                    <td>火灾技术鉴定方法 第2部分：薄层色谱法</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>GB/T 18294.3-2006</td>
                                    <td>火灾技术鉴定方法 第3部分：气相色谱法</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>GB/T 18294.4-2007</td>
                                    <td>火灾技术鉴定方法 第4部分:液相色谱法</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>GB/T 18294.5-2010</td>
                                    <td>火灾技术鉴定方法第5部分：气相色谱-质谱法</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>报批阶段</td>
                                    <td>火灾技术鉴定方法第6部分：红外光谱法</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>GA 812-2008</td>
                                    <td> 火灾原因调查指南</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>GB/T 13464-2008</td>
                                    <td>物质热稳定性的热分析试验方法</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>制定阶段</td>
                                    <td>火灾原因认定规则</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>GB/T 20162-2006</td>
                                    <td>火灾技术鉴定物证提取方法</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h6>关于我们</h6>
                <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>信息</h6>
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <li><a href="laws.html">条款&条件</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>我的帐户</h6>
                <ul>
                    <li><a href="login.html">我的帐号</a></li>
                    <li><a href="myspace.html">鉴定历史</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>其它</h6>
                <ul>
                    <li><a href="friendly.html">友情链接</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-copy">
        <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
    </div>
    <!-- <div class="footer-copy ">
<!-- //footer -->
</body>

</html>