<!DOCTYPE html>
<html>

<head>
    <title>相关法规</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../js/menu_jquery.js"></script>
    <script src="../js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Custom Styles */
        
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }
        
        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }
        
        ul.nav-tabs li:first-child {
            border-top: none;
        }
        
        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }
        
        ul.nav-tabs li.active a,
        ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #0088cc;
            border: 1px solid #0088cc;
        }
        
        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }
        
        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }
        
        ul.nav-tabs.affix {
            top: 30px;
            /* Set the top position of pinned element */
        }
    </style>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <!-- header -->

    <!-- //header -->
    <!-- top-header -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="introduction.html">机构简介</a></li>|
                        <li><a href="laws.html">相关法规</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link"><a href="form.html">鉴定申请</a></li>|
                        <li class="top_link"><a href="myspace.html">个人中心</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- top-header -->
    <!-- logo-cart -->
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html">火灾物证鉴定系统</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //logo-cart -->
    <!------>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                    <li class="grid"><a class="color1" href="introduction.html" ">机构简介</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="process.html ">鉴定流程</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>				
		   <li><a class="color1 " href="laws.html ">相关法规</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="form.html ">鉴定申请</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>申请类型</h4>
							   <ul>
								   <li><a href="form1.html "">Slave Bracelets</a>
                    </li>
                    <li><a href="products.html">Rings</a></li>
                    <li><a href="products.html">Necklaces</a></li>
                    <li><a href="products.html">Chokers</a></li>
                    <li><a href="products.html">Cuff Links</a></li>
                    <li><a href="products.html">Bangles</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Style Zone</h4>
                <ul>
                    <li><a href="products.html">Men</a></li>
                    <li><a href="products.html">Women</a></li>
                    <li><a href="products.html">Brands</a></li>
                    <li><a href="products.html">Kids</a></li>
                    <li><a href="products.html">Accessories</a></li>
                    <li><a href="products.html">Style Videos</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>All Jewellery</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Seating</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col2"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
    </div>
    </div> -->
    </li>
    <!-- <li><a  class="color1" href="#">collections</a>
			   <div class="megapanel">
				   <div class="row">
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html">Slave Bracelets</a></li>
								   <li><a href="products.html">Rings</a></li>
								   <li><a href="products.html">Necklaces</a></li>
								   <li><a href="products.html">Chokers</a></li>
								   <li><a href="products.html">Cuff Links</a></li>									
								   <li><a href="products.html">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html">Men</a></li>
								   <li><a href="products.html">Women</a></li>
								   <li><a href="products.html">Brands</a></li>
								   <li><a href="products.html">Kids</a></li>
								   <li><a href="products.html">Accessories</a></li>
								   <li><a href="products.html">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row">
					   <div class="col2"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
				   </div>
			   </div>
		   </li>								 -->
    </ul>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="查询内容">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!---->
    <!-- reg-form -->
    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#section-1">放火火灾鉴定</a></li>
                    <li><a href="#section-2">电气火灾鉴定</a></li>
                    <li><a href="#section-3">汽车火灾鉴定</a></li>
                    <li><a href="#section-4">自然化工爆炸火灾鉴定</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h2 id="section-1">放火火灾鉴定</h2>
                <blockquote>
                    <h4><strong>可提取的物证的种类主要有：</strong></h4>
                    <p>
                        ·地面类检材，包括水泥、瓷砖、地毯、实木地板、复合地板、人造革、泥土等
                    </p>
                    <p>·盛装容器类检材，包括金属桶、塑料桶、塑料袋、浸油物、其他盛装物等</p>
                    <p>·低洼处救火时残存的水样</p>
                    <p>·残留物检材，包括木块、炭灰、家具软垫、生活用品、衣物等残骸</p>
                    <p>·烟尘类检材，包括门窗玻璃碎片、墙壁烟尘、金属制品烟尘及其他物体表面附着的烟尘</p>
                    <p>·人体类检材，包括嫌疑人或尸体的毛发、指甲、表皮</p>
                </blockquote>
                <blockquote>
                    <h4><strong>提取的方法：</strong></h4>
                    <p>
                        ·水泥地面：可用斧子或錾子直接砸取有流淌痕迹部位的水泥表层
                    </p>
                    <p>·木地板（复合地板）：可用锯子或直接提取木板条或残留块，还可同时提取地板下地面上的残留物</p>
                    <p>·瓷砖地面：可直接提取瓷砖缝隙连接处的碎块</p>
                    <p>·地毯：可用剪子剪取地毯残留的边缘或残片</p>
                    <p>·泥土：可用铲子直接铲取</p>
                    <p>·玻璃残片：最好提取掉落在地面上的门、窗玻璃碎片，或镜子等玻璃碎片，可直接提取</p>
                    <p>·水杯、陶瓷制品等表面的烟尘可以用医用脱脂棉擦拭或直接提取</p>
                    <p>·墙壁抹灰层可以直接刮取或擦取</p>
                </blockquote>
                <blockquote>
                    <h4><strong>提取物证类别的最佳顺序</strong></h4>
                    <p>
                        <strong>当现场以下样品均可以提取时，最好按照如下顺序提取，或依次提取:</strong>
                    </p>
                    <p>·容器类物证（放火物）</p>
                    <p>·地面类物证</p>
                    <p>·水样</p>
                    <p>·人体的衣物、头发、指甲</p>
                    <p>·炭化残留物</p>
                    <p>·烟尘</p>
                </blockquote>
                <blockquote>
                    <h4><strong>易燃液体类物证的保存方法</strong></h4>
                    <p>·金属罐</p>
                    <p>·专用物证袋</p>
                    <p>·磨口玻璃瓶</p>
                    <p>·密封性好的塑料瓶</p>
                </blockquote>
                <blockquote>
                    <h4><strong>物证提取的数量</strong></h4>
                    <p>·可按照《GB/T 20162-2006 火灾技术鉴定物证提取方法》中规定的数量提取，但总原则是尽量多取！</p>
                </blockquote>
                <blockquote>
                    <h4><strong>物证提取的原则</strong></h4>
                    <p>·提取及时</p>
                    <p>·位置准确</p>
                    <p>·数量足够</p>
                    <p>·类别多样</p>
                    <p>·密封保存</p>
                    <p>·送检及时</p>
                    <p>·对比样品</p>
                </blockquote>
                <hr>
                <h2 id="section-2">电气火灾鉴定</h2>
                <blockquote>
                    <p>
                        实际工作中，可全面开展各类铜铝导线、电缆、插头插片、电气连接件及钢铁金属构件的短路、过电流、接触不良、漏电、雷击等金属熔化痕迹的定性分析鉴定；并可对电控柜、配电箱、电机等电气设备，电视机、空调、电冰箱（柜）、电动自行车等家用电器，以及电熨斗、饮水机、电饭锅、电暖气、热得快等电热器具进行电气（电热）故障分析和鉴定。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-3">汽车火灾鉴定</h2>
                <blockquote>
                    <p>我中心承担了公安部重点科研项目《汽车火灾现场勘查及物证鉴定技术的研究》，综合性地开展汽车火灾原因调查的研究工作，成功地解决了汽车电气火灾、放火火灾和油品泄漏火灾等现场勘查、物证提取与物证鉴定方面的技术难题。</p>
                </blockquote>
                <hr>
                <h2 id="section-4">自燃化工爆炸火灾鉴定</h2>
                <blockquote>
                    <p>自燃火灾涉及到的物质，多是易氧化放热、吸水放热与分解放热等热不稳定性物质。不论在车间生产、仓库储存或运输过程中，当周围环境条件具备时，都会发生自燃着火。</p>
                </blockquote>
                <blockquote>
                    <h4><strong>化工爆炸火灾主要也涉及到热不稳定性问题：</strong></h4>
                    <p>
                        生产条件控制方面，如反应速率过快、升温失控、违反操作规程、投错物料等，均有燃烧爆炸的可能性。
                    </p>
                    <p>运输过程中违反规定，受高温、撞击、摩擦、受酸性物质影响、受潮等，会发生燃烧爆炸事故。</p>
                    <p>·提取燃烧、爆炸物质的同一批未经高温、火烧的成品或半成品</p>
                    <p>·提取原材料</p>
                    <p>·对于自燃火灾，提取起火点处炭化物</p>
                    <p>·对于化工爆炸火灾，提取起火点处喷溅物，以供鉴定使用</p>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h6>关于我们</h6>
                <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>信息</h6>
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <li><a href="laws.html">条款&条件</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>我的帐户</h6>
                <ul>
                    <li><a href="login.html">我的帐号</a></li>
                    <li><a href="myspace.html">鉴定历史</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>其它</h6>
                <ul>
                    <li><a href="friendly.html">友情链接</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-copy">
        <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
    </div>
    <!-- <div class="footer-copy ">
<!-- //footer -->
</body>

</html>