<!DOCTYPE html>
<html>

<head>
    <title>个人信息</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../js/menu_jquery.js"></script>
    <script src="../js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
<!-- header -->

<!-- //header -->
<!-- top-header -->
<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="introduction.html">机构简介</a></li>|
                    <li><a href="laws.html">相关法规</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link"><a href="register.html">鉴定申请</a></li>|
                    <li class="top_link"><a href="register.html">个人中心</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- top-header -->
<!-- logo-cart -->
<div class="header_top">
    <div class="container">
        <div class="logo">
            <a href="index.html">火灾物证鉴定系统</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //logo-cart -->
<!------>
<div class="mega_nav">
    <div class="container">
        <div class="menu_sec">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                <li class="grid"><a class="color1" href="introduction.html">机构简介</a>

                </li>
                <li><a class="color1 " href="process.html ">鉴定流程</a>

                </li>
                <li><a class="color1 " href="laws.html ">相关法规</a>

                </li>
                <li><a class="color1 " href="form.html ">鉴定申请</a>

                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" value="" placeholder="查询内容">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<!-- reg-form -->
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3>修改个人信息</h3>
            <p>请妥善保管个人信息，信息修改后需重新登陆。</p>
            <form id="RegisterForm">
                <ul>
                    <li class="text-info">姓名: </li>
                    <li><input id="Name" name="name" type="text" value="张三"></li>
                </ul>
                <ul>
                    <li class="text-info">密码: </li>
                    <li><input type="password" value="123456"></li>
                </ul>
                <ul>
                    <li class="text-info">再次输入密码:</li>
                    <li><input id="Password" name="password" type="password" value="123456")></li>
                </ul>
                <ul>
                    <li class="text-info">手机号码:</li>
                    <li><input id="Number" name="number" type="text" value="1234567" ></li>
                </ul>
                <ul>
                    <li class="text-info">用户类型:</li>
                    <input id="Fire" name="registerType" type="radio" value=""> 消防
                    <input id="Judiciary" name="registerType" type="radio" value=""> 司法
                    <input id="Tech" name="registerType" type="radio" value=""> 技术服务
                </ul>
                <p class="click">点击此按钮，即表示您同意<a href="#" class="qwe">《政策条款》</a>。</p>
                <input type="submit" value="确认修改">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">修改成功</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>现在请去登录吧！</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary"><a href="login.html " class="button ">登录</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h6>关于我们</h6>
            <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
        </div>
        <div class="col-md-3 footer-grid">
            <h6>信息</h6>
            <ul>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="announce.html">公正声明</a></li>
                <li><a href="laws.html">条款&条件</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h6>我的帐户</h6>
            <ul>
                <li><a href="login.html">我的帐号</a></li>
                <li><a href="myspace.html">鉴定历史</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h6>其它</h6>
            <ul>
                <li><a href="friendly.html">友情链接</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer-copy">
    <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
</div>
<!-- <div class="footer-copy "-->
<!-- //footer -->
</body>

</html>