<!DOCTYPE html>
<html>

<head>
    <title>鉴定流程</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".megamenu").megamenu();
        });
    </script>
    <script src="../js/menu_jquery.js"></script>
    <script src="../js/simpleCart.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Custom Styles */
        
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }
        
        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }
        
        ul.nav-tabs li:first-child {
            border-top: none;
        }
        
        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }
        
        ul.nav-tabs li.active a,
        ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #0088cc;
            border: 1px solid #0088cc;
        }
        
        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }
        
        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }
        
        ul.nav-tabs.affix {
            top: 30px;
            /* Set the top position of pinned element */
        }
    </style>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <!-- header -->

    <!-- //header -->
    <!-- top-header -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="introduction.html">机构简介</a></li>|
                        <li><a href="laws.html">相关法规</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link"><a href="form.html">鉴定申请</a></li>|
                        <li class="top_link"><a href="myspace.html">个人中心</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- top-header -->
    <!-- logo-cart -->
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html">火灾物证鉴定系统</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //logo-cart -->
    <!------>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">首页</a></li>
                    <li class="grid"><a class="color1" href="introduction.html" ">机构简介</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="process.html ">鉴定流程</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>				
		   <li><a class="color1 " href="laws.html ">相关法规</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html ">Slave Bracelets</a></li>
								   <li><a href="products.html ">Rings</a></li>
								   <li><a href="products.html ">Necklaces</a></li>
								   <li><a href="products.html ">Chokers</a></li>
								   <li><a href="products.html ">Cuff Links</a></li>									
								   <li><a href="products.html ">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html ">Men</a></li>
								   <li><a href="products.html ">Women</a></li>
								   <li><a href="products.html ">Brands</a></li>
								   <li><a href="products.html ">Kids</a></li>
								   <li><a href="products.html ">Accessories</a></li>
								   <li><a href="products.html ">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">commodi consequatur</a></li>
								   <li><a href="products.html ">illum qui dolorem</a></li>
								   <li><a href="products.html ">nihil molestiae</a></li>
								   <li><a href="products.html ">eum fugiat</a></li>
								   <li><a href="products.html ">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row ">
					   <div class="col2 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
					   <div class="col1 "></div>
				   </div>
			   </div> -->
		   </li>
		   <li><a class="color1 " href="form.html ">鉴定申请</a>
			   <!-- <div class="megapanel ">
				   <div class="row ">
					   <div class="col1 ">
						   <div class="h_nav ">
							   <h4>申请类型</h4>
							   <ul>
								   <li><a href="form1.html "">Slave Bracelets</a>
                    </li>
                    <li><a href="products.html">Rings</a></li>
                    <li><a href="products.html">Necklaces</a></li>
                    <li><a href="products.html">Chokers</a></li>
                    <li><a href="products.html">Cuff Links</a></li>
                    <li><a href="products.html">Bangles</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Style Zone</h4>
                <ul>
                    <li><a href="products.html">Men</a></li>
                    <li><a href="products.html">Women</a></li>
                    <li><a href="products.html">Brands</a></li>
                    <li><a href="products.html">Kids</a></li>
                    <li><a href="products.html">Accessories</a></li>
                    <li><a href="products.html">Style Videos</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>All Jewellery</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <div class="h_nav">
                <h4>Seating</h4>
                <ul>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">commodi consequatur</a></li>
                    <li><a href="products.html">illum qui dolorem</a></li>
                    <li><a href="products.html">nihil molestiae</a></li>
                    <li><a href="products.html">eum fugiat</a></li>
                    <li><a href="products.html">consequatur eum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col2"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
    </div>
    </div> -->
    </li>
    <!-- <li><a  class="color1" href="#">collections</a>
			   <div class="megapanel">
				   <div class="row">
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Popular Brands</h4>
							   <ul>
								   <li><a href="products.html">Slave Bracelets</a></li>
								   <li><a href="products.html">Rings</a></li>
								   <li><a href="products.html">Necklaces</a></li>
								   <li><a href="products.html">Chokers</a></li>
								   <li><a href="products.html">Cuff Links</a></li>									
								   <li><a href="products.html">Bangles</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Style Zone</h4>
							   <ul>
								   <li><a href="products.html">Men</a></li>
								   <li><a href="products.html">Women</a></li>
								   <li><a href="products.html">Brands</a></li>
								   <li><a href="products.html">Kids</a></li>
								   <li><a href="products.html">Accessories</a></li>
								   <li><a href="products.html">Style Videos</a></li>
							   </ul>	
						   </div>							
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>All Jewellery</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>												
					   </div>
					   <div class="col1">
						   <div class="h_nav">
							   <h4>Seating</h4>
							   <ul>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">commodi consequatur</a></li>
								   <li><a href="products.html">illum qui dolorem</a></li>
								   <li><a href="products.html">nihil molestiae</a></li>
								   <li><a href="products.html">eum fugiat</a></li>
								   <li><a href="products.html">consequatur eum</a></li>
							   </ul>	
						   </div>						
					   </div>
				   </div>
				   <div class="row">
					   <div class="col2"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
					   <div class="col1"></div>
				   </div>
			   </div>
		   </li>								 -->
    </ul>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="查询内容">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <!---->
    <!-- reg-form -->

    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#section-1">鉴定申请</a></li>
                    <li><a href="#section-2">鉴定状态查询</a></li>
                    <li><a href="#section-3">鉴定缴费查询</a></li>
                    <li><a href="#section-4">历史鉴定查询</a></li>
                    <li><a href="#section-5">鉴定管理</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h2 id="section-1">鉴定申请</h2>
                <blockquote>
                    <p>
                        用户首先申请电气/化工鉴定。当用户同意相关法规后，填写申请单并上传资料。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-2">鉴定状态查询</h2>
                <blockquote>
                    <p>
                        用户可以查询鉴定状态。
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        对于消防人员，鉴定状态为：①收到物证；②检查分析；③撰写报告；④邮寄报告（给出邮政编码）
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        对于司法人员，鉴定状态为：①受理委托；②签订电子协议；③收到物证；④现场勘验；⑤检查分析； ⑥撰写报告；⑦邮寄报告（给出邮政编码）
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        对于技术服务人员，鉴定状态为：①受理委托；②签订电子协议；③收到物证；④检查分析；⑤撰写报告；⑥邮寄报告（给出邮政编码）
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-3">鉴定缴费查询</h2>
                <blockquote>
                    <p>
                        用户可以查询申请鉴定报告所需缴费金额，在线缴费，系统支持向用户发送短信提醒。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-4">历史鉴定查询</h2>
                <blockquote>
                    <p>
                        系统支持模糊查询和精准查询当前用户历史鉴定报告。
                    </p>
                </blockquote>
                <hr>
                <h2 id="section-5">鉴定管理</h2>
                <blockquote>
                    <p>
                        <strong>鉴定流程管理</strong>
                    </p>
                    <p>中心收到用户鉴定申请后，审核是否满足鉴定要求；受理案件按照鉴定流程执行，不受理的发送回执。</p>
                </blockquote>
                <blockquote>
                    <p>
                        <strong>鉴定任务指派</strong>
                    </p>
                    <p>部门负责人或相关权限人员可以指派鉴定任务。</p>
                </blockquote>
                <blockquote>
                    <p>
                        <strong>生成鉴定报告</strong>
                    </p>
                    <p>系统支持生成PDF鉴定报告。</p>
                </blockquote>
                <blockquote>
                    <p>
                        <strong>更新鉴定进度状态</strong>
                    </p>
                    <p>相关权限人员可以更新鉴定进度状态。</p>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h6>关于我们</h6>
                <p>系统按照业务流程，通过数据流打通各个管理部门之间的壁垒，为中心人员、消防人员、司法人员和其他技术服务人员提供统一的网上服务平台，最终达到中心内部信息交流，案件在线委托受理的目的。</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>信息</h6>
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <li><a href="announce.html">公正声明</a></li>
                    <li><a href="laws.html">条款&条件</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>我的帐户</h6>
                <ul>
                    <li><a href="login.html">我的帐号</a></li>
                    <li><a href="myspace.html">鉴定历史</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h6>其它</h6>
                <ul>
                    <li><a href="friendly.html">友情链接</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-copy">
        <p>© 2020 火灾物证鉴定管理系统. 版权所有|工程设计实训</p>
    </div>
    <!-- <div class="footer-copy ">
<!-- //footer -->
</body>

</html>